.swami1{
	
	text-align: justify;
	margin-top:-55%;


border: 4px solid black;
padding-right: 4%;




}
    #one {
            
text-align: left;
            background-color: green;
            color: white;
            margin-top: -10px;
            width: 1350px;
            height: 21px;
        

           
        }
        img.img{
            padding-left: 2%;
        }
        
        .menu {
              padding: 1%;
            float: left;
        }

        
        .home {
            background-color: green;

            color: white;
            padding: 8px;
            border: none;
            font-size: 12px;
            cursor: pointer;

        }
        
       
        
        
        
        
        .ghr {
            background-color: green;
        }
        
        
        .set {
            background-color: green;
            margin-left: 10px;
            padding-left: 19%;

        

        }
        
        .admission {
            background-color: green;
            color: white;
              border: none;
            padding: 8px;
            font-size: 12px;
            cursor: pointer;
        }
        
        .admission-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
        }
        
        .admission-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .admission-content a:hover {
            background-color: green
        }
        
        .entry:hover .admission-content {
            display: block;
        }
        
        
        .entry {
            background-color: green;
        }
        
        .notes {
            background-color: green;
              border: none;
            color: white;
            padding: 8px;
            
            font-size: 12px;
            cursor: pointer;
        }
        
        .notes-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
        }
        
        .notes-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .notes-content a:hover {
            background-color: green
        }
        
        .files:hover .notes-content {
            display: block;
        }
        
        
        
        .files {
            background-color: green;
        }
        
        .cadetcollege {
            background-color: green;
            color: white;
            padding: 8px;
              border: none;
            font-size: 12px;
            cursor: pointer;
        }
        
        .cadetcollege-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
        }
        
        .cadetcollege-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .cadetcollege-content a:hover {
            background-color:  green
        }
        
        .college:hover .cadetcollege-content {
            display: block;
        }
        
        
        
        .college {
            background-color: green;
        }
        
        .universtyA {
            background-color: green;
            color: white;
            padding: 8px;
              border: none;
            font-size: 12px;
            cursor: pointer;
        }
        
        
        
        .universty {
            background-color: green;
        }
        
        .testcenter {
            background-color: green;
            color: white;
            padding: 8px;
              border: none;
            font-size: 12px;
            cursor: pointer;
        }
        
        .testcenter-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            
        }
        
        .testcenter-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .testcenter-content a:hover {
            background-color:  green
        }
        
        .test:hover .testcenter-content {
            display: block;
        }
        
     
        
        .test {
            background-color: green;
        }
        
        
        .aboutus {
            background-color: green;
            color: white;
            padding: 8px;
              border: none;
            font-size: 12px;
            cursor: pointer;
        }
        .us {
            background-color: green;
        }
      
.set2{
    padding-right: 20.5%;
}


        #homebutton {
            width: 90px;
        }


.head1{
    margin-top: 6%;
    margin-left: 7%;
    font-size: 20px;
}


.head2{
    margin-top: 6%;
    margin-left: 28%;
    font-size: 20px;
}


.head3{
    margin-top: 6%;
    margin-left: 28.5%;
    font-size: 20px;
}




#pic1{
    padding-top: 1%;
    
    margin-left: 5%;
}


#pic2{

    
    margin-left: 22%;
}




#pic3{
    
    margin-left: 22%;
}







.foot1{
    margin-top: 1%;
    margin-left: 8%;
    font-size: 20px;
}


.foot2{
    margin-top: 1%;
    margin-left: 32%;
    font-size: 20px;
}


.foot3{
    margin-top: 1%;
    margin-left: 34%;
    font-size: 20px;
}











.footer{
    margin-top: 45%;
    background-color: green;
    color: white;
    height: 170px;
    border:7px solid black;
}

#img1{
    position: absolute;
    top :1185px;
    right: 1140px;
}
#img2{
    position: absolute;
    top :1240px;
    right: 1140px;
}
#img3{
    position: absolute;
    top :1290px;
    right: 1140px;
}


.info{
    padding-left: 40%;
    margin-top: -13.2%;
    color: white;


}
#img4{
    position: absolute;
    top :1290px;
    right: 820px;
}
#img5{
    position: absolute;
    top :1245px;
    right: 820px;
}
#img6{
    position: absolute;
    top :1190px;
    right: 820px;
}
.feedback{
    
    margin-top:-185px;
    padding-left: 1060px;
    color: white;
}